body{

    max-width:100%;
}

header{
    background-color:khaki;
}
#nav1 ul li{
    display: inline-block;


}

#nav1 ul li a{

    text-decoration: none;
    text-align: center;
    padding:10px;
    font-size:12px;
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
}