body{

    max-width:100%;

}

#divid3{
    background-color:khaki;
    width:100%;
    height:120px;
    margin: 0 auto;
    padding: 0;
}



#nav1 ul li{
    display: inline-block;
    padding: 50px;
}

#nav1 ul li a{

    text-decoration: none;
    padding:10px;
    font-size:12px;
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
}
h1{
    font-size:20px;
    color: tomato;
    font-family: sans-serif;
    text-transform: uppercase;
}

#divid1{
    width: 100%;
    height: 60px;
    background-color:white;
}
#divid2{
    width: 100%;
    height: 60px;
    background-color:rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    padding: 0;
    border:0;
}

#divid2 a{
    color: white;
    font-family: "Abel", sans-serif;
    font-size:12px;
    padding-top:40px;
    padding-bottom:40px;
    text-decoration:none;
}
