*{
    padding:0;
    margin:0;
    border:0;
}

body{
    max-width:100%;
    background-color: lightyellow;
    margin:0 auto;
    padding:0;
}

.header{
    margin:0 auto;
    padding:10px;
}

.footer{
    margin:0 auto;
    padding:10px;
}
main{
    padding:10px;
}

#nav1 ul li{
    display: inline-block;
    padding: 50px;
}

#nav1 ul li a{

    text-decoration: none;
    padding:10px;
    font-size:12px;
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
}
h1{
    font-size:20px;
    color: tomato;
    font-family: sans-serif;
    text-transform: uppercase;
}

#divh1{
    width: 100%;
    height: 60px;
    background-color:white;
}

#divh1 a{
    font-size:12px;
    font-family:"Abel", sans-serif;
    float:right;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
    text-decoration: none;
    color:black;

}

#divh2{
    width: 100%;
    height: 60px;
    background-color:rgba(0, 0, 0, 0.6);
    margin:0;
}

#divh2 a{
    color: white;
    font-family: "Abel", sans-serif;
    font-size:12px;
    padding-left:20px;
    text-decoration:none;
}

#divh3{
    background-color:khaki;
    width:100%;
    height:120px;
    margin:0;
}

#div2{
    background-color: rgba(252, 252, 252, 1);
    height:300px;
    border:0;
    margin:0 auto;

}

#div3{
    background-color: rgba(0, 0, 0, 0.1);
    height:300px;
    border:0;
    margin:0 auto;

}

#div4{
    background-color: rgba(252, 252, 252, 1);
    height:300px;
    border:0;
    margin:0 auto;


}

#divf{
    background-color: rosybrown;
    height: 200px;
    margin:0;

}

#divf p{
    font-size:12px;
    font-family: "Abel", sans-serif;
    color: black;
    padding-left:10px;
}

.class2{
    margin:0;
}

.class3{
    text-align:center;
    margin:0;
}

#img1{
    padding-left:40px;
}

#section1{
    height:500px;
    border: 3px solid #ddd;
    border-radius:10px;
    background-image:url(femme.jpg);
    background-attachment: inherit;
    background-size:100% 100%;
    background-position: center center;
    margin:0 auto;

}
